html,
body {
  font-size: 14px;
  line-height: 2;
}
header .jumbotron {
  text-align: center;
  color: #fff;
  background-color: #333;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}
h1 {
  position: relative;
}
h2 {
  font-size: 24px;
  margin: 30px 0 15px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
.btn {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 170px;
}
.download-btn {
  padding: 12px;
  border-radius: 5px;
  font-size: 1.2em;
  border-color: #444;
}
.download-btn:hover,
.download-btn:active {
  border-color: #333;
}
pre {
  padding: 10px;
  margin-bottom: 15px;
  border-color: #eee;
}
@media screen and (max-width: 388px) {
  .logo {
    width: 45px;
  }
}
@media screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 54px;
  }
}
