.toast-container * {
  box-sizing: border-box;
}

.padding-box {
  padding: 10px;
}

.border-box {
  box-sizing: border-box;
}

.border-box * {
  box-sizing: border-box;
}

.toast-container .toast-mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.toast-container .toast-content {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(40, 40, 40, 0.85);
  text-align: center;
  animation: pop 0.4s;
  z-index: 2000;
}

.toast-container .toast-content.toast {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 1.2em;
  padding: 15px;
  color: #fff;
}

.toast-container .toast-content.toast-msg {
  background-color: #fff;
  color: #333;
  width: 360px;
  margin-top: -100px;
  margin-left: -180px;
  overflow: hidden;
}


.toast-content .toast-header {
  font-weight: bold;
  padding: 10px;
}

.toast-content .body {
  text-align: left;
  padding: 5px 15px;
  max-height: 100px;
  overflow: auto;
}

.toast-content .footer {
  position: relative;
  line-height: 42px;
  margin-top: 15px;
}

.toast-content .footer:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}

.toast-content .footer a,
.toast-content .footer span {
  color: #DD403B;
  display: block;
  border: none;
  text-decoration: none;
}

.toast-content .footer a:hover {
  color: #AC3429;
}

.toast-content .footer a:active {
  background-color: #eee;
}

.toast-content .footer a[data-role="cancel"] {
  position: relative;
  display: inline-block;
  width: 50%;
  color: #555;
}

.toast-content .footer a[data-role="cancel"]:hover {
  color: #333;
}

.toast-content .footer a[data-role="confirm"] {
  display: inline-block;
  width: 50%;
}

.toast-content .footer a[data-role="cancel"]:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  border-right: 1px solid #ccc;
  transform: scaleX(0.5);
  transform-origin: 0 0;
}

/* error box */
.toast-error-stack {
  position: fixed;
  top: 80px;
  right: 10px;
  z-index: 100;
}

.toast-error-stack * {
  box-sizing: border-box;
}

.toast-error-stack .error-box {
  position: relative;
  width: 300px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fdfdee;
  color: #333;
  font-weight: normal;
  margin-bottom: 10px;
  box-shadow: 2px 2px 6px #aaa;
  animation: fadeInRight 0.35s;
}

.error-box .close {
  float: right;
  font-size: 20px;
  margin: 7px 8px;
  color: #fff;
  text-shadow: 0 1px 0 #666;
  opacity: .9;
}

.error-box .close:focus,
.error-box .close:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

.error-box .close:active {
  text-shadow: none;
}

.error-box .banner {
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  background-color: #d8606c;
}

.error-box .body {
  padding: 10px 15px;
  height: 80px;
  text-align: left;
  overflow: auto;
}
/* end error box */


/* success styles */
.toast-container .toast-content.toast-success {
  background-color: #fff;
  color: #333;
  width: 360px;
  height: 360px;
  max-height: none;
  margin-top: -180px;
  margin-left: -180px;
  overflow: hidden;
}

.toast-success .success-icon {
  text-align: center;
  padding: 25px;
  background: #3ec59d;
  color: #fff;
}

.toast-content.toast-success .footer {
  line-height: 1.2;
  padding: 5px 40px;
}

.toast-content.toast-success .footer:after {
  border-top: none;
}

.toast-success .body {
  height: 80px;
  padding-top: 15px;
  text-align: center;
}

.toast-success .fa {
  font-size: 80px;
}
/* end success styles */

/* toast btn */
.toast-btn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.toast-btn-success {
  background: #3ec59d;
  color: #fff;
}

.toast-btn-success:hover {
  background: #3abd96;
}

.toast-btn-success:active {
  background: #30ab83;
}
/* end toast btn */


/* animations */
@keyframes pop {
  0% {
    -ms-transform: -ms-scale(0.8);
        transform: scale(0.8);
    opacity: 0;
  }

  40% {
    -ms-transform: -ms-scale(1.1);
        transform: scale(1.1);
    opacity: 1;
  }

  100% {
    -ms-transform: -ms-scale(1);
        transform: scale(1);
    opacity: 1;
  }
}

/*
  从右向左滑入，带回弹
 */
@keyframes fadeInRight {
  0% {
    -ms-transform: -ms-translateX(100%);
        transform: translateX(100%);
    opacity: 0;
  }

  100% {
    -ms-transform: -ms-translateX(0);
        transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pop-hide {
  0% {
    -ms-transform: -ms-scale(0.8);
        transform: scale(0.8);
    opacity: 0;
  }

  90% {
    -ms-transform: -ms-scale(1);
        transform: scale(1);
    opacity: 1;
  }

  100% {
    -ms-transform: -ms-scale(0.9);
        transform: scale(0.9);
    opacity: 0;
  }
}
/* end animations */
