@suc-width: 350px;
@suc-height: 330px;
@suc-color: #3ec59d;
@error-color: #d8606c;

@import "fix-scrollbars.less";
@import "font.less";


.toast-container {
  &, * {
    box-sizing: border-box;
    word-break: break-all;
  }
}

.padding-box {
  padding: 10px;
}

.toast-container .toast-mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.toast-container .toast-content {
  display: block;
  position: fixed;
  top: 52%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(40, 40, 40, 0.85);
  text-align: center;
  animation: pop 0.4s;
  z-index: 2000;
}

.toast-container .toast-content.toast {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px;
  color: #fff;
  width: 240px;
  margin-top: -100px;
  margin-left: -120px;
}

.toast-container .toast-content.toast-msg {
  background-color: #fff;
  color: #333;
  width: 360px;
  margin-top: -100px;
  margin-left: -180px;
  overflow: hidden;
}


.toast-content .toast-header {
  font-weight: bold;
  padding: 10px;
}

.toast-content .body {
  text-align: left;
  padding: 5px 15px;
  max-height: 100px;
  overflow: auto;
}

.toast-content.toast .body {
  text-align: center;
}

.toast-content .footer {
  position: relative;
  line-height: 42px;
  margin-top: 15px;

  &:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D5D5D6;
    transform-origin: 0 0;
    transform: scaleY(0.5);
  }
}

.toast-content .footer a {
  color: #DD403B;
  display: block;
  border: none;
  text-decoration: none;

  &:hover {
    color: #AC3429;
  }

  &:active {
    background-color: #eee;
  }
}

.toast-content .footer a[data-role="cancel"] {
  position: relative;
  display: inline-block;
  width: 50%;
  color: #555;
}

.toast-content .footer a[data-role="cancel"]:hover {
  color: #333;
}

.toast-content .footer a[data-role="confirm"] {
  display: inline-block;
  width: 50%;
}

.toast-content .footer a[data-role="cancel"]:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  border-right: 1px solid #ccc;
  transform: scaleX(0.5);
  transform-origin: 0 0;
}


/* success styles */
.toast-container .toast-content.toast-success {
  background-color: #fff;
  color: #333;
  top: 50%;
  width: @suc-width;
  height: @suc-height;
  max-height: none;
  margin-top: -0.5 * @suc-height;
  margin-left: -0.5 * @suc-width;
  overflow: hidden;
}

.toast-success.error {
  .success-icon {
    background: @error-color;
  }
}

.toast-content.toast-success .footer {
  line-height: 1.2;
  padding: 5px 40px;

  &:after {
    border-top: none;
  }
}

.toast-success {
  .success-icon {
    text-align: center;
    padding: 25px 0;
    background: @suc-color;
    color: #fff;
    height: 170px;
  }

  .body {
    height: 60px;
    padding-top: 15px;
    text-align: center;
    overflow: hidden;
    word-break: break-all;
    font-size: 1.2em;
    line-height: 30px;
  }

  .ticon-check-circle,
  .ticon-cross-circle,
  .ticon-frown-circle {
    font-size: 80px;
  }
}
/* end success styles */

/* toast btn */
.toast-btn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.toast-btn-success {
  background: @suc-color;
  color: #fff;

  &:hover {
    background: #3abd96;
  }

  &:active {
    background: #30ab83;
  }
}

.toast-btn-error {
  background: @error-color;
  color: #fff;

  &:hover {
    background: #ca5762;
  }

  &:active {
    background: #bb4d58;
  }
}
/* end toast btn */


@import "animations.less";
@import "icons.less";
@import "media.less";
@import "message.less";
