@toast-suc-size: 120px;
@suc-width: 350px;
@suc-height: 330px;
@suc-color: #3fe666;
@error-color: #f46e65;

@import "fix-scrollbars.less";
@import "font.less";
@import "animations.less";


.toast-container {
  &, * {
    box-sizing: border-box;
    word-break: break-all;
  }
}

.toast-container {
  .toast-mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1999;
  }

  .toast-content {
    display: block;
    position: fixed;
    top: 52%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(30, 30, 30, 0.85);
    text-align: center;
    animation: pop 0.4s;
    z-index: 2000;
  }

  .toast-content.toast {
    background-color: rgba(0, 0, 0, 0.82);
    padding: 0;
    color: #fff;
    width: 240px;
    margin-top: -100px;
    margin-left: -120px;
  }

  .toast-content.toast-msg {
    background-color: #fff;
    color: #333;
    width: 360px;
    margin-top: -100px;
    margin-left: -180px;
    overflow: hidden;
  }

  .toast-content.toast-success {
    background-color: rgba(0, 0, 0, 0.75);
    width: @toast-suc-size;
    height: @toast-suc-size;
    margin-left: -0.5 * @toast-suc-size;

    .success-icon {
      padding: 5px 0 0 0;
      height: auto;

      i {
        font-size: 70px;
        color: #fff;
        border: none;
        background-color: transparent;
      }
    }

    .body {
      color: #fff;
    }
  }
}

.toast-content {
  .toast-header {
    font-weight: bold;
    padding: 15px 10px 7px 10px;
  }

  .toast-body,
  .body {
    text-align: center;
    max-height: 130px;
    overflow: auto;
  }

  .body {
    padding: 5px 15px 18px;
  }

  .toast-body {
    padding: 10px 18px;
  }

  .footer {
    position: relative;
    line-height: 42px;

    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
      border-top: 1px solid #D5D5D6;
      transform-origin: 0 0;
      transform: scaleY(0.5);
    }
  }
}

.toast-content .footer a {
  color: #DD403B;
  display: block;
  border: none;
  text-decoration: none;

  &:hover {
    color: #AC3429;
  }

  &:active {
    background-color: #eee;
  }
}

.toast-content .footer a[data-role="cancel"] {
  position: relative;
  display: inline-block;
  width: 50%;
  color: #555;
}

.toast-content .footer a[data-role="cancel"]:hover {
  color: #333;
}

.toast-content .footer a[data-role="confirm"] {
  display: inline-block;
  width: 50%;
}

.toast-content .footer a[data-role="cancel"]:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  border-right: 1px solid #ccc;
  transform: scaleX(0.5);
  transform-origin: 0 0;
}


/* success styles */
.toast-msg {
  .success-icon {
    text-align: center;
    padding: 25px 0;
    height: 110px;

    i {
      background: @suc-color;
      color: #fff;
    }
  }

  &.error {
    .success-icon i {
      background: @error-color;
    }
  }

  .ticon-check-circle,
  .ticon-cross-circle,
  .ticon-frown-circle {
    font-size: 80px;
  }
}
/* end success styles */



@import "icons.less";
@import "message.less";
@import "media.less";
